*{
    margin: 0;
    padding:0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
    border-bottom: 4px solid #f54e77;
}
.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}
.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
  background-color: #f5f5f5;
  padding: 2rem;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #e9e9e9;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1050px;
  margin: auto;
}

.contact-image {
  flex: 1 1 300px;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-form {
  flex: 1 1 300px;
  padding: 3rem;
  background-color: #f7f7f7;
} 

.contact-form h1 {
  margin-bottom: 0.5rem;
  font-size: 24px;
}

.contact-form p {
  margin-bottom: 1.5rem;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.contact-form button {
  background-color: #d73a3a;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #6e60c4;
}
.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}
.footer_column {
    display: flex;
    flex-direction: column;
}
.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.copyright {
    color: #94969f;
    text-align: end;
    padding: 20px;
}
